* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  padding: 0;
  display: flex;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  background-color: #343a40;
  color: white;
  padding: 20px;
  width: 200px;
  height: 100%; 
}

.sidebar h2 {
  margin: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar ul li button{
  font-size: 15px;
}


.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f8f9fa;
  height: 100vh; 
}

.main-content h1 {
  margin-top: 0;
}


.sidebar button{
  background-color: #343a40;
  border: 1px solid #343a40;
  color: #fff;
  cursor: pointer;
}


/* Responsiveness of website */

/* For screens smaller than 768px */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    padding-left: 30px;
  }

  .main-content {
    padding: 10px;
  }
}

button{
  cursor: pointer;
}


.container {
  display: flex;
  width: 100%;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.main-content h1{
  font-size: xx-large;
}
.main-content p{
  font-size: x-large;
  margin-top: 10px;
}

h1 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Responsive Table Styles */
@media (max-width: 768px) {
  table {
      display: block; /* Make table block element */
      overflow-x: auto; /* Enable horizontal scrolling */
      white-space: nowrap; /* Prevent text from wrapping */
  }

  th, td {
      display: inline-block; /* Make table cells inline-block */
      width: auto; /* Allow cells to take their content width */
  }

  th {
      font-size: 14px; /* Adjust font size for better visibility */
  }

  td {
      font-size: 12px; /* Adjust font size for better visibility */
  }
}




#update-order-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
  display: none;
}



#ordersContainer{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
  padding-bottom: 5px;
}


#ordersContainer div{
  background-color: #343a40;
  padding: 20px;
  margin-bottom: 20px;
  color: whitesmoke;
}

#ordersContainer div ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 40px;
  margin-bottom: 20px;
}

#ordersContainer div button{
  margin: 10px;
  font-size: 15px;
  height: 35px;
  width: 140px;
  border-radius: 5px;
  font-weight: 600;
  color: #343a40;
}


#ordersContainer div h3{
  font-size: 24px;
  margin-bottom: 12px;
}

#ordersContainer div p{
  font-size: larger;
  margin-bottom: 10px;
  margin-left: 25px;
}

#ordersContainer div h4{
  font-size: x-large;
  margin-bottom: 10px;
  margin-top: 20px;
}




@media (min-width: 769px) {
  .container{
    min-height: 100vh;
    display: flex;
    flex: 1;
  }

  aside{
    flex-shrink: 0; 
    min-height: 100vh;
  }

  main{
    flex: 1; 
    overflow-y: auto; 
  }

}


#usersContainer {
  margin-top: 20px;
  gap: 30px;
}

#usersContainer div{
  background-color: #343a40;
  color: whitesmoke;
  padding: 20px;
  margin-top: 20px;
}

.userName{
  font-size: 24px;
}

#usersContainer div p{
  font-size: 20px;
}

.userPhone,
.userAdd{
  margin-left: 20px;
}


iframe{
  margin-top: 29px;
}
